@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$color-text: #f5f5f5;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%; // 1 rem = 10 px (browser default is 16)

  @media (max-width: 1700px) {
    font-size: 56.25%;
  }

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 750px) {
    font-size: 40%;
  }
}

body {
  min-height: 100vh;
  // background-color: rgb(37, 77, 165);
  background-image: linear-gradient(
      to right,
      rgba(black, 0.4),
      rgba(black, 0.4)
    ),
    url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-text;
  font-family: montserrat, sans-serif;
}

li {
  list-style: none;
}
